@import "tailwindcss";
body {
    background-color: #efdfc2;
}
.swiper-button-next,
.swiper-button-prev {
    color: white;
}
/* Todos los puntos (inactivos) */
.swiper-pagination-bullet {
    background-color: #d4c9b3 !important;
    /* color personalizado para puntos inactivos */
    opacity: 1;
}

/* Punto activo */
.swiper-pagination-bullet-active {
    background-color: #94a3b8 !important;
    /* color personalizado para punto activo */
}